<div class="jumbotron">
    <h1>Nearbooks</h1>
    <p class="lead">Nearbook allows you to keep track of who has a NS's book, that would enable us to see real time where is the book I would like to read, or who has it and who's next to borrow.</p>
    <p>@Html.ActionLink("Find a book", "Index", "Books", new { area = "" }, null)</p>
</div>
